/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

.grid-container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: container;
    }
}

.content-spacing{
    padding: 70px 0 50px;
}

.content-padding{
    padding: 20vh 30vw;

    @include md{
        padding: 20vh 4vw;
    }
}

.background-shapes{
    margin-top: -450px;
    // position: absolute;

    .background-shape-top{
        height: 40vh;
        width: 100vw;
        clip-path: polygon(0 23%, 100% 5%, 100% 95%, 0 77%);

        @include md{
            height: 50vh;
        }
    }
}

.Header  {
    position: relative;
    z-index: 1;
    
    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 160%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      margin-top: -70px;
    }
  
    &:before {
      top: 0;
      transform: skewY(0deg);
      transform-origin: 0% 0;
    }
    
    &:after {
      bottom: 0;
      transform: skewY(-5deg);
      transform-origin: 100%;
    }
  }

  .Footer  {
    position: relative;
    z-index: 1;
    
    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 75%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  
    &:before {
      top: 0;
      transform: skewY(-4deg);
      transform-origin: 0% 0;
    }
    
    &:after {
      bottom: 0;
      transform: skewY(0deg);
      transform-origin: 100%;
    }
  }