/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

.grid-container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include xl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: container;
    }
}

.content-spacing{
    padding: 70px 0 50px 0;
}

.content-padding{
    padding: 10vh;
    margin: -30px 0 -20px 0;

    @include md{
        padding: 40vh 0;
        margin: -100px 0 -300px 0;
    }

    @include lg{
      padding: 43vh 0;
      margin: -100px 0 -260px 0;
  }

  @include xl{
    padding: 48vh 0;
    margin: -100px 0 -280px 0;
}
}

.background-shapes{
    margin-top: -450px;
    // position: absolute;

    .background-shape-top{
        height: 40vh;
        width: 100vw;
        clip-path: polygon(0 23%, 100% 5%, 100% 95%, 0 77%);

        @include md{
            height: 50vh;
        }
    }
}

.Header  {
    position: fixed;
    z-index: 1000;
    filter: drop-shadow(-5px 10px 5px rgba(0,0,0,0.3));
    
    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 160%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      margin-top: -70px;
    }
  
    &:before {
      top: 0;
      transform: skewY(0deg);
      transform-origin: 0% 0;
    }
    
    &:after {
      bottom: 0;
      transform: skewY(-5deg);
      transform-origin: 100%;
    }
  }

  .Footer  {
    position: relative;
    z-index: 1;
    background-color: black;
    
    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  
    &:before {
        bottom: 0;
      transform: skewY(8deg);
      transform-origin: 100%;
    }
    
    &:after {
      top: 0;
      transform: skewY(0deg);
      transform-origin: 0% 0;
    }
  }

  .accordion {
    background-color: transparent;
    color: $lightgrey;
    cursor: pointer;
    padding: 20px 0 20px 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: inline-block;

    font-size: rem-calc(20);
    
      @include md{
        font-size: rem-calc(30);
    }

    @include lg{
        font-size: rem-calc(40);
    }

    @include xl{
        font-size: rem-calc(50);
    }

    i {
      color: $white;
      font-size: rem-calc(15);
      margin-right: 10px;
      @include md{
          font-size: rem-calc(20);
      }

      @include lg{
          font-size: rem-calc(30);
      }

      @include xl{
          font-size: rem-calc(40);
      }
  }


    &:hover, &:active {
      background-color: $black;

      i {
          color: $earthblue;
      }
  }
  }
  

  .panel {
    padding: 0 18px;
    background-color: white;
    // display: block;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }