/* =============
    Base
============= */
figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a:link,
a:visited {
  text-decoration: none;
  transition: 0.25s;
}

.grid-container {
  display: grid;
  grid-template-columns: 15px auto 15px;
  grid-template-areas: ". container .";

  @include xl {
    grid-template-columns: auto 1440px auto;
  }

  >div {
    grid-area: container;
  }
}

.content-spacing {
  padding: 70px 0 50px 0;
}


.content-padding {
  padding: 10vh;
  margin: -30px 0 -20px 0;

  @include md {
    padding: 30vh 0;
    margin: -60px 0 -20px 0;
  }

  @include lg {
    padding: 50vh 0;
    margin: -80px 0 -245px 0;
  }

  @include xl {
    padding: 48vh 0;
    margin: -100px 0 -270px 0;
  }
}

.background-shapes {
  margin-top: -450px;
  // position: absolute;

  .background-shape-top {
    height: 40vh;
    width: 100vw;
    clip-path: polygon(0 23%, 100% 5%, 100% 95%, 0 77%);

    @include md {
      height: 50vh;
    }
  }
}

.panel {
  padding: 0 18px;
  background-color: white;
  // display: block;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@include lg{
  .blank-fill{
      .blank-fill-2{
          height: 5%;
          
      }
  }
  }
  