/* =============
    Branding Content
============= */

.container{
    overflow: hidden;
}

// .header-background{

//     &:hover {
//         background-color: #D8D8D8;

//         svg {
//             fill: #000000;
//         }
//     }
// }

/* --------------------------
    Branding Section 1
 --------------------------*/

 /* ========================
         SALTOPIA
======================== */

#section-title {}

#section-header {

    >div {

        // #saltopiaHEADER{
        //     height: 10%;

        //     #background{

        //         &:hover {
        //         fill: #3E2829;
        //         transition-delay: .25s;
        //         }
        //     }
        // }

        background-image: url('../img/branding/saltheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;

        @include md {
            background-image: url('../img/branding/saltheadertab.svg');
            height: 18.5vh;
        }

        @include lg {
            background-image: url('../img/branding/saltopiaHEADER1.svg');
            height: 50vh;
            margin-top: -30px;
        }

        @include xl {
            height: 51vh;
        }

    }
}

#saltopia-mockup{
    position: relative;
    img{
        object-position: center;
            // object-fit: 50%;
            width: 100%;
            height: 100%;
            margin-bottom: -3%;
    }
}

#salt-logos {
    >div {
        // margin-top: 20px;

        @include md {
            margin-top: -20px;
        }

        @include lg {
            margin-top: -70px;
        }

        @include lg {
            margin-top: 0px;
        }

        ul {
            display: grid;
            gap: 20px;
            grid-template-rows: 250px 200px 200px;
            grid-template-areas: "l1""l2""l3";

            @include md {
                grid-template-areas: "l1 l2 l3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;

                img {
                    object-fit: cover;
                    width: 80vw;

                    @include md {
                        width: 30vw;
                    }
                }
            }

            li:nth-child(1) {
                grid-area: l1;
            }

            li:nth-child(2) {
                grid-area: l2;
            }

            li:nth-child(3) {
                grid-area: l3;
            }
        }
    }
}

#part-2-container {

    display: grid;
    grid-template-areas: "image""p";

    @include md {
        display: grid;
        grid-template-areas: "p image";
        grid-template-columns: 60% auto;
    }

    #part-2-text {
        text-align: justify;
        margin: 40px 20px 50px 0px;
        color: $lightgrey;
        line-height: 1.5;

        @include md {
            grid-area: p;
            text-align: right;
            margin: 70px 20px 50px 60px;
            font-size: rem-calc(18);
            line-height: 1.5;
        }

        @include lg {
            margin: 70px 20px 50px 180px;
        }

        @include xl {
            margin: 70px 20px 50px 200px;
        }

    }

    #part-2-image {
        // img{
        // object-fit: cover;
        // width: 100vw;
        // }
        grid-area: image;
        justify-content: center;
        align-items: center;
        margin-left: 22px;
        // height: 20vh;
    }
}

#process-slides-1 {
    // border: 1px solid red;
    // margin-bottom: 5%;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider {

            div {
                height: 300px;

                @include lg {
                    height: 350px;
                }

                @include xl {
                    height: 400px;
                }

                img {
                    // height: 100%;
                    width: 90%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}

/* ========================
         Republic Bank
======================== */

#section-header-B-3 {

    margin-bottom: -1.5%;

    >div {

        // #saltopiaHEADER{
        //     height: 10%;

        //     #background{

        //         &:hover {
        //         fill: #3E2829;
        //         transition-delay: .25s;
        //         }
        //     }
        // }
        background-image: url('../img/branding/RBheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        


        @include md {
            background-image: url('../img/branding/RBheadertab.svg');
            height: 18.5vh;
        }

        @include lg {
            background-image: url('../img/branding/RBHEADER.svg');
            height: 50vh;
            margin-top: -30px;
        }

        @include xl {
            height: 51vh;
        }

    }
}

#RB-mockup{
    position: relative;
    
    img{
        z-index: 9;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        // margin: -12% 0 8% 0;
    }
}



#RB-logos {
    >div {
        margin-bottom: 8%;

        @include md {
            margin-top: 0;
        }

        @include lg {
            margin-top: 0px;
        }

        @include lg {
            margin-top: 0%;
        }

        ul {
            display: grid;
            gap: 20px;
            grid-template-rows: 250px 200px 200px;
            grid-template-areas: "l1""l2""l3";

            @include md {
                grid-template-areas: "l1 l2 l3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;

                img {
                    object-fit: cover;
                    width: 70vw;

                    @include md {
                        width: 22vw;
                    }
                }
            }

            li:nth-child(1) {
                grid-area: l1;
            }

            li:nth-child(2) {
                grid-area: l2;
            }

            li:nth-child(3) {
                grid-area: l3;
            }
        }
    }
}

#part-3-container {

    display: grid;
    grid-template-areas: "image""p";

    @include lg {
        display: grid;
        grid-template-areas: "image p";
        grid-template-columns: 60% auto;
    }

    #part-3-text {
        text-align: justify;
        margin: 0px 20px 50px 0px;
        color: $lightgrey;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            // grid-area: p;
            text-align: left;
            margin: 0px 40px 50px 40px;
            font-size: rem-calc(16);
            line-height: 1.5;
        }

        @include lg {
            grid-area: p;
            text-align: left;
            margin: 0px 150px 50px -15%;
        }

        @include xl {
            margin: 0% 35% 5% -15%;
        }

    }

    #part-3-image {

        img{
            margin-top: 400%;
            margin-left: 400%;
            width: 2000%;
            height: 100%;

            @include md{
                margin-left: 1300%;
                width: 3000%;
            }

            @include lg{
                margin-top: 0%;
            margin-left: 0%;
                object-fit: cover;
                width: 60%;
                margin-left: 20%;
            }
        }

        grid-area: image;
        justify-content: center;
        align-items: center;
    }
}

#process-slides-6 {
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider3 {

            div {
                height: auto;

                @include lg {
                    height: auto;
                }

                @include xl {
                    height: auto;
                }

                img {
                    height: 100%;
                    width: 60%;
                    margin-left: 14.5%;
                    object-fit: center;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}



/* ========================
         STARTECH
======================== */


#section-header-B-2 {
    margin-bottom: -1.5%;
    // position: relative;
    // z-index: 10;

    >div{
    // #startechHEADER{
    //     height: 10%;

    //     #background-2{

    //         &:hover {
    //         fill: #3E2829;
    //         transition-delay: .25s;
    //         }
    //     }
    // }
        background-image: url('../img/branding/startechHEADERmob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        // margin-bottom: -5%;

        @include md {
            background-image: url('../img/branding/startechHEADERtab.svg');
            height: 18.5vh;
        }

        @include lg {
            background-image: url('../img/branding/startechHEADER.svg');
            height: 50vh;
            // margin-bottom: -8%;
        }

        @include xl {
            height: 51vh;
        }

        }
        }

// #startech-mockup{
//     position: relative;
    
//     img{
//         z-index: 9;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//         width: 100%;
//         // margin: -12% 0 8% 0;
//     }
// }

#star-logo{
    >div{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            object-position: center;
            // object-fit: 50%;
            width: 50%;
            height: 100%;
            margin: 10% 0px -15% 0px;

            @include md{
                width: 50%;
                margin: 10% 0px 5% 0px;
            }

            @include lg{
                width: 30%;
                margin: 3% 0px 5% 0px;
            }
        }
    }
}

#section-2-container-2{

    #section-2-text-2{
        margin: -3% 7% -3% 7%;
    }
}

#process-slides-2 {
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider2 {

            div {
                height: 300px;

                @include lg {
                    height: 350px;
                }

                @include xl {
                    height: 400px;
                }

                img {
                    height: 100%;
                    width: 70%;
                    margin-left: 14.5%;
                    object-fit: center;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}