/* =============
    Branding Content
============= */

/* --------------------------
    Branding Section 1
 --------------------------*/

 #section-title{

}

#section-header{

    >div{
        background-image: url('../img/branding/saltheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 18vh;


        @include md{
            background-image: url('../img/branding/saltheadertab.svg');
            height: 25vh;
        }

        @include lg{
            background-image: url('../img/branding/saltopiaHEADER.svg');
            height: 72vh;
        }

        @include xl{
            height: 62vh;
        }

        #header-content-B{
        //     display: grid;
        //     grid-template-columns: repeat(2,1fr);
        //     grid-template-rows: repeat(1);

            #section-1-header-B{
                display: grid;
                text-align: right;
                // bottom: 0;
                // left: 0;
                // width: 300px;

                h1{
                    position: relative;
                    margin-top: 50px;
                    margin-right: 45px;
                    font-size: rem-calc(25);
                    z-index:90;
                    text-align: right;

                    @include md{
                        font-size: rem-calc(40);
                        margin-top: 100px;
                        margin-right: 100px;
                    }

                    @include lg{
                        font-size: rem-calc(50);
                        margin-top: 160px;
                        margin-right: 180px;
                    }
                }
            }
        }

    }
}

#salt-logos{
    >div{
        margin-top: 20px;

        @include md{
            margin-top: -20px;
        }

        @include lg{
            margin-top: -70px;
        }

        @include lg{
            margin-top: 0px;
        }

        ul{ 
            display: grid;
            gap: 20px;
            grid-template-rows: 250px 200px 200px;
            grid-template-areas: "l1" "l2" "l3";

            @include md{
            grid-template-areas: "l1 l2 l3";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1,1fr);
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;
            
                img{
                    object-fit: cover;
                    width: 80vw;

                    @include md{
                    width: 30vw;
                    }
                }
            }

            li:nth-child(1) {
                grid-area: l1;
            }

            li:nth-child(2) {
                grid-area: l2;
            }

            li:nth-child(3) {
                grid-area: l3;
            }
        }
    }
}

#part-2-container{

    display: grid;
    grid-template-areas: "image" "p" ;

    @include md{
        display: grid;
        grid-template-areas: "p image";
        grid-template-columns: 60% auto;
    }
    
    #part-2-text{
        text-align: justify;
        margin: 40px 20px 50px 0px;
        color: $lightgrey;
        line-height: 1.5;

        @include md{
        grid-area: p;
        text-align: right;
        margin: 70px 20px 50px 60px;
        font-size: rem-calc(18);
        line-height: 1.5;
        }

        @include lg{
            margin: 70px 20px 50px 180px;
            }

        @include xl{
            margin: 70px 20px 50px 200px;
            }
        
    }

    #part-2-image{
        // img{
        // object-fit: cover;
        // width: 100vw;
        // }
        grid-area: image;
        justify-content: center;
        align-items: center;
        margin-left: 22px;
        // height: 20vh;
    }
}

#process-slides-1{
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md{
        margin-bottom: 150px;
    }
    >div{
        
        .my-slider{
            
            div{
                height: 300px;

                @include lg{
                    height: 350px;
                }

                @include xl{
                    height: 400px;
                }
                
                img{
                    // height: 100%;
                    width: 90%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}
