/* =============
    Index Content
============= */

/* --------------------------
    Index Home
 --------------------------*/

#index-home {
    text-align: center;
    margin: 140px 0;
    width: 100vw;
    // background-color: black;

    // #background-color{
    //     background-color: black;
    //     height: 100vh;
    //     // margin-top: -100px;
    //     position: absolute;
    //     z-index: 10;
    // }
    
    >div {
        // z-index: 90;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: -80px 0 -180px 0;

        @include md {
            grid-template-columns: repeat(3, 33.33%);
            grid-template-rows: 1fr 225px;
            grid-template-areas: "one two three"
                "four four four";
            // overflow: hidden;
        }

        @include lg {
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(1, 1fr);
            margin: 0 0 0 0;
            grid-template-areas: "one two three four";
            overflow: visible;
        }

        #branding {
            
            background-color: $earthpink;
            background-image: url("../img/branding/salt.svg");
            background-repeat: no-repeat;
            background-position: 250px 60px;
            background-size: 57vw;

            @include md {
                background-position: -100px 400px;
                background-size: 38vw;
            }

            @include lg {
                background-position: -120px 380px;
                background-size: 28vw;
            }

            @include xl {
                background-position: -110px 310px;
                background-size: 28vw;
            }

        }

        #publication {
           
            background-color: $brightblue;
            background-image: url("../img/home-page/mulaney.png");
            background-position: 0px 0px;
            background-repeat: no-repeat;
            background-size: 57vw;

            @include md {
                background-position: -55px 320px;
                background-size: 40vw;
            }

            @include lg {
                background-position: -20px 360px;
                background-size: 28vw;
            }

            @include xl {
                background-position: 0px 300px;
                background-size: 24vw;
            }

        }

        #webdesign {
            
            background-color: $gold;
            background-image: url("../img/home-page/iphonemummers.png");
            background-position: 280px 50px;
            background-repeat: no-repeat;
            background-size: 50vw;

            @include md {
                background-position: -100px 340px;
                background-size: 34vw;
            }

            @include lg {
                background-position: -140px 320px;
            }

            @include xl {
                background-position: -140px 280px;
                background-size: 28vw;
            }
        }

        #fineart {
            
            background-color: $earthgreen;
            background-image: url("../img/home-page/self-portrait.png");
            background-position: -150px 30px;
            background-repeat: no-repeat;
            background-size: 85vw;

            @include md {
                background-position: -180px 40px;
                background-size: 74vw;
            }

            @include lg {
                background-position: -280px 300px;
                background-size: 57vw;
            }

            @include xl {
                background-position: -350px 245px;
                background-size: 57vw;
            }
        }

        @include md {
            .one-line {
                white-space: nowrap;
                // overflow: hidden;
            }
        }


        #fineart-text{
            @include md{
            transform: rotate(90deg);
            margin-top: -600px;
            margin-left: 150px;
            }

            @include lg{
            transform: rotate(0deg);
            margin-top: 40px;
            margin-left: 0px;
            }
        }

        .text {

            h1 {
                color: white;
                text-align: center;
                font-family: Open Sans, sans-serif;
                font-weight: 300;
                font-size: rem-calc(40);

                @include md {
                    transform: rotate(-90deg);
                    margin: 25% 0 0% 70%;
                    font-size: rem-calc(50);
                    padding: 0px 0px 0px 0px;
                    text-align: right;
                }

                @include lg{
                    margin: -8% 0 0% 70%;
                }
            }
            

            // a:link,
            // a:visited {
            //     color: $black;
            //     font-size: rem-calc(20);
            //     font-family: 'Open Sans', sans-serif;
            //     font-size: rem-calc(15);
            //     font-weight: 300;

            //     &:hover,
            //     &:active {
            //         color: $darkgrey;
            //     }

            //     @include md {
            //         font-size: rem-calc(25);
            //     }

            //     @include lg {
            //         font-size: rem-calc(30);
            //     }

            // }
        }
    }


    #branding-container{
        @include md{
            grid-area: one;
        }
    }

    #publishing-container{
        @include md{
            grid-area: two;
        }
    }

    #web-container{
        @include md{
            grid-area: three;
        }
    }

    #fineart-container{
        @include md{
            grid-area: four;
            // padding: 0;
            // height: 10vh;
        }
    }
}