/* =============
    Publishing Content
============= */

/* --------------------------
    Publishing Section 1
 --------------------------*/

#section-title-P {

    margin-bottom: 20px;
}

#section-header-P {
    // position: relative;
    // z-index: 10;
    margin-top: -4.5%;
    margin-bottom: -2%;

    >div {
        background-image: url('../img/publication/backtalkheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        // margin-bottom: 20px;


        @include md {
            background-image: url('../img/publication/backtalkheadertab.svg');
            height: 18.5vh;
            // margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/publication/BacktalkHEADER.svg');
            height: 50vh;
        }

        @include xl {
            height: 51vh;
        }

    }
}

#backtalk-mockup{
    position: relative;

    img{
        z-index: 10;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin: -5% 0 3% 0;
    }
}


#part-2-container-P {
    display: flex;
    flex-direction: column;

    @include md {
        display: grid;
        grid-template-areas: "image""p";
        grid-template-columns: 50% auto;
    }

    #part-2-text-P {
        grid-area: p;
        text-align: justify;
        margin: 0px 30px 50px 30px;
        color: $lightgrey;

        @include md {
            text-align: left;
            margin: 100px 50px 50px 30px;
            font-size: rem-calc(18);
            line-height: 1.5;
        }

        @include lg {
            margin: 200px 100px 50px -40px;
        }

        @include xl {
            margin: 240px 130px 50px -40px;
        }

    }

    #part-2-image-P {
        grid-area: image;
        margin-left: 110px;

        @include md {
            margin-left: 80px;
        }

        img {
            object-fit: cover;
            width: 40vw;

            @include lg {
                width: 35vw;
            }
        }
    }

}

#part-2-text-2-P {
    text-align: justify;
    margin: 30px 20px 10px 20px;
    color: $lightgrey;
    line-height: 1.25;

    @include md {
        text-align: left;
        margin: 40px 100px 50px 100px;
        font-size: rem-calc(18);
        line-height: 1.5;
    }

    @include lg {
        margin: 40px 200px 50px 200px;
        font-size: rem-calc(18);
        line-height: 1.5;
    }

    @include xl {
        margin: 70px 250px 50px 220px;
    }

}

#part-2-container-2-P {

    #part-2-images-2-P {

        img {
            // display: inline-block;
            width: 80vw;
            margin: 30px 40px 30px 40px;
            display: flex;
            flex-wrap: wrap;

            @include md {
                width: 70vw;
                margin: 30px 120px 30px 120px;
            }

            @include lg {
                width: 70vw;
                margin: 30px 210px 30px 210px;
            }
        }

    }
}

#process-slides-3 {
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider {

            div {
                height: 300px;

                @include lg {
                    height: 350px;
                }

                @include xl {
                    height: 400px;
                }

                img {
                    height: 100%;
                    width: 65%;
                    margin-left: 17.5%;
                    object-fit: center;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}


/* --------------------------
            GRAY
 --------------------------*/

 #section-header-P-2 {
    // position: relative;
    // z-index: 10;
    margin-bottom: -5.5%;

    >div {
        background-image: url('../img/publication/GRAYheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        margin-bottom: 25px;


        @include md {
            background-image: url('../img/publication/GRAYheadertab.svg');
            height: 18.5vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/publication/GRAYheader.svg');
            height: 50vh;
        }

        @include xl {
            height: 51vh;
        }

    }
}



#gray-mockup{
    position: relative;

    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 90%;
        margin: -5% 0 -5% 0%;
    }
}


#process-slides-4 {

    >div {

        .my-slider2 {

            margin-top: 3%;

            div {
                height: auto;

                @include lg {
                    height: auto;
                }

                @include xl {
                    height: auto;
                }

                img {
                    height: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 70%;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}


/* --------------------------
       WATER POLLUTION
 --------------------------*/

 #section-header-P-3 {
    // position: relative;
    // z-index: 10;
    margin-bottom: -5.5%;

    >div {
        background-image: url('../img/publication/WPheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        margin-bottom: 25px;


        @include md {
            background-image: url('../img/publication/WPheadertab.svg');
            height: 18.5vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/publication/WPheader.svg');
            height: 50vh;
        }

        @include xl {
            height: 51vh;
        }

    }
}



#WP-mockup{
    position: relative;

    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin: -5% 0 -5% 0%;
    }
}


#process-slides-5 {
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider3 {

            margin-top: 0%;

            div {
                height: auto;

                @include lg {
                    height: auto;
                }

                @include xl {
                    height: auto;
                }

                img {
                    height: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 70%;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}


#WP-aside-container {

    display: grid;
    grid-template-areas: "image""p";

    @include md {
        display: grid;
        grid-template-areas: "image p";
        grid-template-columns: 60% auto;
    }

    #WP-aside-text {
        text-align: justify;
        margin: 0px 20px 50px 0px;
        color: $lightgrey;
        line-height: 1.5;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            grid-area: p;
            text-align: left;
            margin: 0px 20px 50px 60px;
            font-size: rem-calc(18);
            line-height: 1.5;
        }

        @include lg {
            margin: 0px 20px 50px 180px;
        }

        @include xl {
            margin: 0% 35% 5% -15%;
        }

    }

    #WP-aside-image {

        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            margin-left: 5%;
        }

        grid-area: image;
        justify-content: center;
        align-items: center;
    }
}