/* =============
    Publishing Content
============= */

/* --------------------------
    Publishing Section 1
 --------------------------*/

#section-title-P {}

#section-header-P {
    position: relative;
    z-index: 10;
    margin-top: -3.5%;

    >div {
        background-image: url('../img/publication/pubheadermob1.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vh;
        margin-bottom: 20px;


        @include md {
            background-image: url('../img/publication/pubheadertab1.svg');
            height: 30vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/publication/pubheader1.svg');
            height: 66vh;
        }

        @include xl {
            height: 66vh;
        }

        #header-content-P {
            //     display: grid;
            //     grid-template-columns: repeat(2,1fr);
            //     grid-template-rows: repeat(1);

            #section-1-header-P {
                display: grid;
                text-align: right;
                // bottom: 0;
                // left: 0;
                // width: 300px;

                h1 {
                    position: relative;
                    margin-top: 50px;
                    margin-right: 45px;
                    font-size: rem-calc(25);
                    z-index: 90;
                    text-align: right;

                    @include md {
                        font-size: rem-calc(40);
                        margin-top: 100px;
                        margin-right: 100px;
                    }

                    @include lg {
                        font-size: rem-calc(50);
                        margin-top: 160px;
                        margin-right: 280px;
                    }
                }
            }
        }

    }
}

#backtalk-mockup{
    position: relative;

    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin: -12% 0 8% 0;
    }
}


#part-2-container-P {
    display: flex;
    flex-direction: column;

    @include md {
        display: grid;
        grid-template-areas: "image""p";
        grid-template-columns: 50% auto;
    }

    #part-2-text-P {
        grid-area: p;
        text-align: justify;
        margin: 0px 30px 50px 30px;
        color: $lightgrey;

        @include md {
            text-align: left;
            margin: 100px 50px 50px 30px;
            font-size: rem-calc(18);
            line-height: 1.5;
        }

        @include lg {
            margin: 200px 100px 50px -40px;
        }

        @include xl {
            margin: 240px 130px 50px -40px;
        }

    }

    #part-2-image-P {
        grid-area: image;
        margin-left: 110px;

        @include md {
            margin-left: 80px;
        }

        img {
            object-fit: cover;
            width: 40vw;

            @include lg {
                width: 35vw;
            }
        }
    }

}

#part-2-text-2-P {
    text-align: justify;
    margin: 30px 20px 10px 20px;
    color: $lightgrey;
    line-height: 1.25;

    @include md {
        text-align: left;
        margin: 40px 100px 50px 100px;
        font-size: rem-calc(18);
        line-height: 1.5;
    }

    @include lg {
        margin: 40px 200px 50px 200px;
        font-size: rem-calc(18);
        line-height: 1.5;
    }

    @include xl {
        margin: 70px 250px 50px 220px;
    }

}

#part-2-container-2-P {

    #part-2-images-2-P {

        img {
            // display: inline-block;
            width: 80vw;
            margin: 30px 40px 30px 40px;
            display: flex;
            flex-wrap: wrap;

            @include md {
                width: 70vw;
                margin: 30px 120px 30px 120px;
            }

            @include lg {
                width: 70vw;
                margin: 30px 210px 30px 210px;
            }
        }

    }
}

#process-slides-3 {
    // border: 1px solid red;
    margin-bottom: 50px;

    @include md {
        margin-bottom: 150px;
    }

    >div {

        .my-slider {

            div {
                height: 300px;

                @include lg {
                    height: 350px;
                }

                @include xl {
                    height: 400px;
                }

                img {
                    height: 100%;
                    width: 65%;
                    margin-left: 17.5%;
                    object-fit: center;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}


/* --------------------------
    Publishing Section 2
 --------------------------*/

 #section-header-P-2 {
    position: relative;
    z-index: 10;

    >div {
        background-image: url('../img/publication/GRAYheadermob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vh;
        margin-bottom: 25px;


        @include md {
            background-image: url('../img/publication/GRAYheadertab.svg');
            height: 30vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/publication/GRAYheader.svg');
            height: 66vh;
        }

        @include xl {
            height: 66vh;
        }

        #header-content-P-2 {

            #section-1-header-P-2 {
                display: grid;
                text-align: left;

                h1 {
                    position: relative;
                    margin-top: 50px;
                    margin-left: 45px;
                    font-size: rem-calc(25);
                    z-index: 90;
                    text-align: left;

                    @include md {
                        font-size: rem-calc(40);
                        margin-top: 100px;
                        margin-left: 100px;
                    }

                    @include lg {
                        font-size: rem-calc(50);
                        margin-top: 160px;
                        margin-left: 220px;
                    }
                }
            }
        }

    }
}



#gray-mockup{
    position: relative;

    img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 120%;
        margin: -12% 0 8% -10%;
    }
}

