/* =============
    Publishing Content
============= */

/* --------------------------
    Publishing Section 1
 --------------------------*/

 #section-title-W {

    margin-bottom: 20px;
}

#section-header-W {
    // position: relative;
    // z-index: 10;
    margin-top: -3.5%;

    >div {
        background-image: url('../img/web/mummersHEADERmob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        margin-bottom: 20px;


        @include md {
            background-image: url('../img/web/mummersHEADERtab.svg');
            height: 18.5vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/web/mummersHEADER.svg');
            height: 50vh;
        }

        @include xl {
            height: 51vh;
        }

    }
}

#mummers-mockup{
    position: relative;

    img{
        z-index: 10;
        height: 100%;
        // object-fit: cover;
        // object-position: center;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;
        margin-bottom: 0%;

        @include lg{
            width: 80%;
        }
    }
}


#mummers-aside-container {

    display: grid;
    grid-template-areas: "p-1""p-2";

    @include md {
        display: grid;
        grid-template-areas: "p-1 p-2";
        grid-template-columns: 70% auto;
    }

    #mummers-aside-text {
        text-align: justify;
        margin: 2% 10% 5% 2%;
        color: $lightgrey;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        

        @include md {
            margin: 2% 0% 5% 10%;
            grid-area: p-1;
            text-align: left;
            // margin: 0px 20px 50px 60px;
            font-size: rem-calc(16);
            line-height: 1.5;
        }

        @include lg {
            // margin: 0px 20px 50px 180px;
        }

        @include xl {
            // margin: 0% 5% 5% 5%;
        }

    }

    #mummers-aside-text-2 {
        display: none;
        // text-align: left;
        // margin: 0% 0% 0% 1000%;
        // color: $lightgrey;
        // line-height: 1.5;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        @include md{
            display: block;
            text-align: left;
        // margin: 0% 0% 0% 1000%;
        color: $lightgrey;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
            margin: -10% 5% 5% -5%;
            grid-area: p-2;
        }
    }
}

#process-slides-7 {
    // border: 1px solid red;
    // margin-bottom: 5%;

    @include md {
        margin-bottom: 5%;
        // margin-top: 5%;
    }

    >div {

        .my-slider {

            div {
                height: auto;

                @include lg {
                    height: auto;
                }

                @include xl {
                    height: auto;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}

#process-slides-9 {
    // border: 1px solid red;
    // margin-bottom: 5%;

    @include md {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    >div {

        .my-slider4 {

            div {
                height: auto;

                @include lg {
                    height: auto;
                }

                @include xl {
                    height: auto;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .tns-controls [aria-controls] {
            color: $white;
            background: $lightgrey;
        }
    }
}

/* --------------------------
    Publishing Section 1
 --------------------------*/


#section-header-W-2 {
    // position: relative;
    // z-index: 10;
    margin-top: -5.5%;

    >div {
        background-image: url('../img/web/campHEADERmob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        margin-bottom: 20px;


        @include md {
            background-image: url('../img/web/campHEADERtab.svg');
            height: 18.5vh;
            margin-bottom: 50px;
        }

        @include lg {
            background-image: url('../img/web/campHEADER.svg');
            height: 50vh;
        }

        @include xl {
            height: 51vh;
        }

    }
}

#camp-mockup{
    position: relative;

    img{
        z-index: 10;
        height: 100%;
        // object-fit: cover;
        // object-position: center;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -12%;
        margin-bottom: 0%;

        @include lg{
            width: 85%;
        }
    }
}

#camp-aside-container {

    display: grid;
    grid-template-areas: "p-1""p-2";

    margin-top: -5%;

    @include md {
        display: grid;
        grid-template-areas: "p-1 p-2";
        grid-template-columns: 70% auto;
    }

    #camp-aside-text {
        text-align: justify;
        margin: 2% 12% 5% 5%;
        color: $lightgrey;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;

        @include md {
            margin: 2% 3% 5% 10%;
            grid-area: p-1;
            text-align: left;
            // margin: 0px 20px 50px 60px;
            font-size: rem-calc(16);
            line-height: 1.5;
        }

        @include lg {
            margin: 2% 0% 5% 10%;
            // margin: 0px 20px 50px 180px;
        }

        @include xl {
            // margin: 0% 5% 5% 5%;
        }

    }

    #camp-aside-text-2 {
        display: none;
        // text-align: justify;
        // margin: -10% 5% 5% -5%;
        // color: $lightgrey;
        // line-height: 1.5;
        // display: flex;
        // grid-area: p-2;
        // justify-content: center;
        // align-items: center;

        @include md{
            display: block;
            text-align: justify;
            margin: -10% 15% 5% 5%;
            color: $lightgrey;
            line-height: 1.5;
            display: flex;
            grid-area: p-2;
            justify-content: center;
            align-items: center;
        }

        @include lg{
            margin: -10% 5% 5% -5%;
        }
    }
}

/* ========================
      PORTFOLIO SITE
======================== */


#section-header-W-3 {
    margin-bottom: -1.5%;
    // position: relative;
    // z-index: 10;

    >div{
    // #startechHEADER{
    //     height: 10%;

    //     #background-2{

    //         &:hover {
    //         fill: #3E2829;
    //         transition-delay: .25s;
    //         }
    //     }
    // }
        background-image: url('../img/branding/startechHEADERmob.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 13vh;
        // margin-bottom: -5%;

        @include md {
            background-image: url('../img/branding/startechHEADERtab.svg');
            height: 18.5vh;
        }

        @include lg {
            background-image: url('../img/web/portHEADER.svg');
            height: 50vh;
            // margin-bottom: -8%;
        }

        @include xl {
            height: 51vh;
        }

        }
        }

// #startech-mockup{
//     position: relative;
    
//     img{
//         z-index: 9;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//         width: 100%;
//         // margin: -12% 0 8% 0;
//     }
// }

// #star-logo{
//     >div{
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         img{
//             object-position: center;
//             // object-fit: 50%;
//             width: 50%;
//             height: 100%;
//             margin: 10% 0px -15% 0px;

//             @include md{
//                 width: 50%;
//                 margin: 10% 0px 5% 0px;
//             }

//             @include lg{
//                 width: 30%;
//                 margin: 3% 0px 5% 0px;
//             }
//         }
//     }
// }

// #section-2-container-2{

//     #section-2-text-2{
//         margin: -3% 7% -3% 7%;
//     }
// }

// #process-slides-2 {
//     // border: 1px solid red;
//     margin-bottom: 50px;

//     @include md {
//         margin-bottom: 150px;
//     }

//     >div {

//         .my-slider2 {

//             div {
//                 height: 300px;

//                 @include lg {
//                     height: 350px;
//                 }

//                 @include xl {
//                     height: 400px;
//                 }

//                 img {
//                     height: 100%;
//                     width: 70%;
//                     margin-left: 14.5%;
//                     object-fit: center;
//                     object-position: center;
//                 }
//             }
//         }

//         .tns-controls [aria-controls] {
//             color: $white;
//             background: $lightgrey;
//         }
//     }
// }