/* =============
    Footer
============= */

footer {
    background-image: url("../img/footer/Rectangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh; 

    @media md {
        height: 40vh; } 

    @media lg {
        height: 85vh; } 

    >div {
      text-align: center;
      border: solid red 1px;
      display: grid; 

      @include md {
          grid-template-columns: 25% auto;
          grid-template-areas: "footer-title footer-form" "footer-social footer-social"; } 

      #footer-title {
        padding-top: 30px; 

        @include md {
            grid-area: footer-title; } 

        h1 {
          color: white;
          padding: 0px 0 0px 0;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300; 
            font-weight: 300;
          font-weight: 300; 

          @include md {
              font-size: 2.1875rem;
              transform: rotate(-90deg); }
            } }

        @include md {

            #footer-form {
            grid-area: footer-form;  

            form {
                display: grid;
                gap: 20px;
                background-color: #000; 

                @include md {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: 45% 40% auto; } 

            #contact{
            width: 100%;
            margin-bottom: 10px;
            border-radius: 0;
            border: none; }

            #message{ 
            width: 100%;
            margin-bottom: 10px;
            border-radius: 0;
            border: none;
            height: 200px; }
            }
        }
    }
            
        #footer-social {
            padding: 20px 0; 

            @include md {
                grid-area: footer-social; }

                ul {
                display: flex;
                justify-content: center; }

                li {
                    margin: 0 10px; }

                    a:link,
                    a:visited {
                        color: $white;
                        font-size: rem-calc(30);
                        transition: 0.25s;
                    }

                    a:hover,
                    a:active {
                        color: $lightgrey;
                    }
                
                }

            }
                
        }
    
