/* =============
    Footer
============= */
footer{
    background-image: url('../img/footer/Rectangle.svg');
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;

        @include md {
            height: 40vh;
        }

        @include xl {
            height: 85vh;
        }

        >div{
            text-align: center;
            border: solid red 1px;
        

        h1{
            color: white;
            padding: 0px 0 0px 0 ;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: rem-calc(35);
            transform: rotate(-90deg);
            text-align: top;

            @include md {
                padding-top: 90px;
            }

            @include lg {
                padding-top: 30px;
            }

            @include xl {
                padding-top: 40vh;
            }
        }

        form{
            section{
                display: grid;
                // justify-content: center;
                grid-template-columns: repeat(4,1fr);
                grid-template-areas: 
                    "c, one, four, s"
                    "c, two, four, s"
                    "c, three, four, s";

                    div{
                        input{
                            // border-radius: 0;
                            border: none;
                            color: $darkgrey;
                            padding: 10px 0 7px 10px;

                            @include md {
                                padding: 15px 0 10px 10px;
                                width: 400px;
                            }
    
                            @include lg {
                                padding: 20px 0 15px 10px;
                                width: 500px;
                            }
                        }

                        ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $darkgrey;
                            opacity: 1;
                        }
    
                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $darkgrey;
                        }
    
                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $darkgrey;
                        }

                        button{
                            background-color: $darkgrey;
                            color: white;
                            border: none;
                            transform: rotate(-90deg);
                            cursor: pointer;
                            height: 100%;

                            @include lg {
                                padding: 0 15px;
                            }

                            @include xl {
                                padding: 0 25px;
                            }

                            &:hover {
                                background-color: $darkgrey;
                            }
                        }
                }
            }
        }
                
            ul {
                display: flex;
                justify-content: center;
                padding: 20px 0 50px;
    
                li {
                    margin: 0 20px;
    
                    a:link,
                    a:visited {
                        color: $white;
                        font-size: rem-calc(20);
    
                    &:hover,
                    &:active {
                        color: $darkgrey;
                    }
    
                    @include md {
                        font-size: rem-calc(25);
                    }
    
                    @include lg {
                        font-size: rem-calc(30);
                    }
                }
            }
        }
    }
}