/* =============
    Accordion
============= */
#accordion {
    .option {
        .top {
            align-items: center;
            // border: 1px solid $black;
            cursor: pointer;
            // display: flex;
            // padding: 20px;
            transition: .25s;
            position: relative;

            // i {
            //     margin-left: auto;
            // }
        }

        // #top-content-1:hover {
        //     color: #f0c808;
        // }

        // #top-content-2:hover {
        //     color: #07a0c3;
        // }

        // #top-content-3:hover {
        //     color: #086788;
        }

        .bottom {
            overflow: hidden;

            .content {
                // color: $white;
                // padding: 20px;
            }

            // #bottom-content-1 {
            //     background-color: #f0c808;
            //     padding: 40px;
            // }

            // #bottom-content-2 {
            //     background-color: #07a0c3;
            //     padding: 60px;
            // }

            // #bottom-content-3 {
            //     background-color: #086788;
            //     padding: 80px;
            // }
        }
    }


        .arrow-container-right{
            // border: 1px solid red;
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            .demo-arrow-right{

                color: white;
                font-size: rem-calc(25);
                margin-right: 5%;

                @include md{
                    font-size: rem-calc(35);
                }
            }
        }

        .arrow-container-left{
            // border: 1px solid red;
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            display: flex;
            justify-content: left;
            align-items: center;

            .demo-arrow-left{

                color: white;
                font-size: rem-calc(25);
                margin-left: 5%;

                @include md{
                    font-size: rem-calc(35);
                }
            }
        }
