/* =============
    Navigation
============= */

.white-button{
    background-color: $white;
    color: $black;
    border-radius: 8px;
    font-weight: 700;
    font-size: rem-calc(18);
    padding: 13px 20px;
    display: inline-block;

    @include md{
        font-size: rem-calc(20);
        padding: 14px 35px;
    }

    @include md{
        font-size: rem-calc(24);
        padding: 16px 40px;
    }

    &:hover{
        background-color: $lightgrey;
    }
}

#nav-container {
    ul {
        // height: 100%;

        @include lg {
            display: flex;
        }

        li {

            @include lg {
                // align-items: center;
                display: flex;
            }
            
            a:link,
            a:visited {
                font-family: 'Open Sans', sans-serif;
                color: black;
                text-decoration: none;
                transition: 0.25s;
                padding: 0px 0;
                display: inline-block;
                width: 100%;
                font-weight: 700;

                @include lg{
                    font-size: rem-calc(20);
                    padding: 0px 0px;
                }
            }

            a:hover,
            a:active {
                color: $lightgrey;
                background-color: transparent;
            }
        }

        li:first-child{
            @include lg{
                a{
                    border: none;
                }
            }
        }

        li:last-child{
            border: none;
            @include lg{
                a{
                    border: none;
                }
            }
        }
    }
}